.divBikes {
  width: 32vw;
  margin-right: 0%;
}
.contentPicture {
  font-weight: bold;
}
.pricePicture {
  font-weight: bold;
}
.buttonBuy {
  background-color: black !important;
}
#transition-modal-description {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
  align-items: center !important;
}
h2#transition-modal-description {
  text-align: center;
}
#LineCheckbox {
  display: flex;
}
#checkboxSentence {
  color: black !important;
}
#h1Buy {
  color: black !important;
  text-align: center !important;
  font-weight: 800;
}
.pInputsYup {
  color: rgb(247, 8, 8) !important;
}
#fire {
  display: flex;
  flex-direction: column;
  color: rgb(77, 19, 224) !important;
  font-weight: 800;
}
#pAgree {
  color: rgb(250, 5, 5) !important;
}

@media (max-width: 768px) {
  div.divBikes {
    display: flex !important;
    height: 40vw !important;
    width: 71vw !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-bottom: 10vh !important;
  }
  .bikeImg {
    width: 50vw !important;
  }
  .PicturesDiv {
    justify-content: center;
  }
  .css-1wnsr1i {
    height: 88vh !important;
    width: 80% !important;
    top: 50vh !important;
    left: 50vw !important;
  }
}
