#transition-modal-description {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
  align-items: center !important;
}
h2#transition-modal-description {
  text-align: center;
}
