.book-btn{
    border-radius: 20px;
    background-color: #1976D2;
    color: ghostwhite;
    padding: 10px;
    box-shadow: 5px -8px 5px black;
    margin-bottom: 2%;
    font-size: xx-large;
    font-weight: 900;
}
.headline{
    color: ghostwhite;
    font-size: xx-large;
    font-weight: bolder;
}