
  .deck {
    position: absolute;
    width: 30vw;
    height: 20vh;
    will-change: transform;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    left: 5%;
    top: 70%;
  }
  
  .deck > div {
    touch-action: none;
    background-color: whitesmoke;
    background-size: auto 55%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40vh;
    max-width: 45vw;
    height: 30vh;
    max-height: 35vh;
    will-change: transform;
    border-radius: 35px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }