.times{
    margin: 0 auto;
    width: 500px;
    text-align: center;
    overflow: hidden;
}
.times-list button{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #1976D2;
    color: whitesmoke;
    border-radius: 50px;
    width: 20%;
    height: 15%;
}
@media only screen and (max-width: 768px) {
.appointment {
    width: 100vw;
}
.times-list {
    width: 100vw;
    }
}
.appointment{
    font-weight: bold;
    font-size: x-large;
    color: whitesmoke;
}