p{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
.abouthome{
    width: 60vw;
display: inline-table;
}
.cardforphone{
    display: none;
}
.imgphone{
    display: none;
}
@media (max-width: 600px) {
h3{
    display: inline;
}
  .imgphone{
    display: inline-flex;
    height: 40vw;
    width: 71vw;
}
p{

    font-size: 5vw;
}

   
}

