.loading{
   
    
    margin-top: -29vw;
}

/* .spinner-border  {


 
 
     
    } */

  /* @keyframes mymove {
    0%   {top: 0px; background: red; width: 100px;}
    100% {top: 200px; background: yellow; width: 300px;}
  } */